section.gallery
  .container
    .gallery__list
      .gallery__item__violet.violet
          a.gallery__item__violet__icons(href="#")
            include angle-right
      .gallery__item__image      
        img.gallery__picture(src="../../images/2.png" alt="picture")
      .gallery__item__image      
        img.gallery__picture(src="../../images/3.jpg" alt="picture")