header.header
  .container(class='grey')
    .header__bottom
      .header__title Navigation
      include nav
      .header__menu 
        input(id="burger" type="checkbox")
        label(for="burger")
          span
          span
          span
        menu   
          ul
            li 
              a(href="#") PSD WEBSITES
            li 
              a(href="#") UI KITS
            li 
              a(href="#") PREMIUM PSD FILES 
            li 
              a(href="#") ABOUT
            li 
              a(href="#") BLOG
