doctype html
html(lang='eng')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/main.min.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    title Test
    script(src="js/main.min.js")
  body
    include sections/header
    include sections/hero
    include sections/like
    include sections/gallery
    include sections/descriptions