@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat.woff2') format('woff2'), url('../../fonts/montserrat.woff') format('woff'), url('../../fonts/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}